.add-to-cart-animation {
  font-size: 24px;
  color: #e8092e;
  border-radius: 50%;
  background-color: white;
  padding: 8px;
  /* box-shadow: 0 0 12px rgba(232, 9, 46, 0.8); */
  pointer-events: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  /* filter: drop-shadow(0 0 6px rgba(232, 9, 46, 0.9)); */
  transition: filter 0.3s ease;
}

/* .add-to-cart-animation:hover {
  filter: drop-shadow(0 0 12px rgba(232, 9, 46, 1));
} */
